[Unit]
Description=Philips Hue control daemon script
Requires=dbus.socket
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/hue_simple_scenes.py

[Install]
WantedBy=default.target
