[Unit]
Description=Custom Nvidia fan controller
PartOf=graphical-session.target

[Service]
ExecStart=nvfanctl
Restart=always

[Install]
WantedBy=window-manager.target
